@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
  --color-primary: #71ae54;
  --color-primary-dark: #5a8c43;
}

/* Base styles pour le mode sombre/clair */
:root {
  color-scheme: light dark;
  background-color: #f8fafc;
  color: #1e293b;
}

.dark {
  background-color: #0f172a;
  color: #e2e8f0;
}